# Player
player.startingMoney=2500000

# Buildings
# Town (End This Way)
building.town.cost=100
building.town.moneyPerTurn=-5
building.town.trainees=[]
building.town.texture.name=Town

# Mine (End This Way)
building.mine.cost=100
building.mine.moneyPerTurn=15
building.mine.trainees=[]
building.mine.texture.name=Mine

# Training grounds
building.trainingGrounds.cost=500
building.trainingGrounds.trainees=[unit.spearman, unit.swordsman, unit.archer, unit.axeman, unit.heavy, unit.horse] # LOOK WE CAN MAKE LISTS THIS IS SO AWESOME :D
building.trainingGrounds.texture.name=Barracks

# Academy
building.academy.cost=1000
building.academy.trainees=[unit.mage, unit.assassin]
building.academy.texture.name=Academy

# Capital
building.capital.cost=0
building.capital.trainees=[unit.builder]
building.capital.texture.name=Capital

# Soldiers
# Spearman
unit.spearman.name=unit.spearman
unit.spearman.stats.hp=12
unit.spearman.stats.att=2
unit.spearman.stats.def=2
unit.spearman.stats.hit=90
unit.spearman.stats.dodge=10
unit.spearman.range.max=1
unit.spearman.range.min=1
unit.spearman.moveSpeed=8
unit.spearman.texture.name=spearman
unit.spearman.cost=90
unit.spearman.specialties=1

# Swordsman
unit.swordsman.name=unit.swordsman
unit.swordsman.stats.hp=11
unit.swordsman.stats.att=4
unit.swordsman.stats.def=1
unit.swordsman.stats.hit=100
unit.swordsman.stats.dodge=20
unit.swordsman.range.max=1
unit.swordsman.range.min=1
unit.swordsman.moveSpeed=10
unit.swordsman.texture.name=swordsman
unit.swordsman.cost=110
unit.swordsman.specialties=0

# Axeman
unit.axeman.name=unit.axeman
unit.axeman.stats.hp=15
unit.axeman.stats.att=7
unit.axeman.stats.def=1
unit.axeman.stats.hit=75
unit.axeman.stats.dodge=5
unit.axeman.range.max=1
unit.axeman.range.min=1
unit.axeman.moveSpeed=8
unit.axeman.texture.name=axeman
unit.axeman.cost=110
unit.axeman.specialties=16

# Archer
unit.archer.name=unit.archer
unit.archer.stats.hp=10
unit.archer.stats.att=4
unit.archer.stats.def=0
unit.archer.stats.hit=95
unit.archer.stats.dodge=10
unit.archer.range.max=2
unit.archer.range.min=2
unit.archer.moveSpeed=10
unit.archer.texture.name=archer
unit.archer.cost=160
unit.archer.specialties=0

# Heavy Infantry
unit.heavy.name=unit.heavy
unit.heavy.stats.hp=15
unit.heavy.stats.att=2
unit.heavy.stats.def=3
unit.heavy.stats.hit=88
unit.heavy.stats.dodge=1
unit.heavy.range.min=1
unit.heavy.range.max=1
unit.heavy.moveSpeed=6
unit.heavy.texture.name=heavy
unit.heavy.cost=250
unit.heavy.specialties=9

# Horseman
unit.horse.name=unit.horse
unit.horse.stats.hp=13
unit.horse.stats.att=5
unit.horse.stats.def=2
unit.horse.stats.hit=100
unit.horse.stats.dodge=5
unit.horse.range.min=1
unit.horse.range.max=1
unit.horse.moveSpeed=16
unit.horse.texture.name=cavarly
unit.horse.cost=250
unit.horse.specialties=2

# Mage
unit.mage.name=unit.mage
unit.mage.stats.hp=10
unit.mage.stats.att=5
unit.mage.stats.def=1
unit.mage.stats.hit=95
unit.mage.stats.dodge=10
unit.mage.range.min=1
unit.mage.range.max=2
unit.mage.moveSpeed=10
unit.mage.texture.name=mage
unit.mage.cost=180
unit.mage.specialties=4

# Assassin
unit.assassin.name=unit.assassin
unit.assassin.stats.hp=10
unit.assassin.stats.att=5
unit.assassin.stats.def=0
unit.assassin.stats.hit=95
unit.assassin.stats.dodge=15
unit.assassin.range.min=1
unit.assassin.range.max=1
unit.assassin.moveSpeed=14
unit.assassin.texture.name=assassin
unit.assassin.cost=400
unit.assassin.specialties=32

# Tijmen
unit.tijmen.name=[Tijmen, Tijman, Thijmen, Thijman, Taiwan, Taaitaaiman, Thymon, Tuinman, Tijmans, Thijmans, Thomas]
